---
import SectionWrapper from "../../ui/section/SectionWrapper.astro";
import JellyButton from "../../ui/buttons/JellyButton";
import StormToggle from "../../ui/buttons/StormToggle";
import SocialLinks from "../../shared/SocialLinks.astro";
import userData from "../../../data/user.json";
import TextReveal from "./TextReveal.tsx";
import FadeIn from "./FadeIn.tsx";
import ImageStorm from "./ImageStorm.tsx";
import Lightning from "./Lightning.tsx";

const { name, role, summary } = userData;

interface Props {
  imageData: {
    src: string;
    placeholder: string;
  };
}

const { imageData } = Astro.props;
---

<SectionWrapper
  className=" flex flex-col items-center justify-center min-h-[calc(100vh-80px)] overflow-hidden relative"
  id="home"
>
  <div
    class="flex flex-col md:flex-row items-center gap-12 w-full z-10 relative"
  >
    <div class="flex-1 space-y-6">
      <TextReveal
        client:visible
        text={`Hi\nI'm ${name}`}
        tag="h1"
        className="text-4xl md:text-6xl font-bold uppercase tracking-tight overflow-hidden pb-5 "
      />
      <TextReveal
        client:visible
        text={role}
        tag="h2"
        className="text-2xl md:text-3xl font-medium text-gray-700 dark:text-gray-200 overflow-hidden pb-5"
        wordDelay={0.09}
      />
      <FadeIn
        client:visible
        className="text-xl text-gray-600 dark:text-gray-300 leading-relaxed max-w-xl"
      >
        {summary}
      </FadeIn>
      <div class="flex gap-4 pt-4">
        <JellyButton client:visible href="#projects">View Projects</JellyButton>
        <!-- hidden for now -->
        <div class="hidden">
          <JellyButton client:load href="/contact" variant="outline"
            >Contact Me</JellyButton
          >
        </div>
        <!-- Storm toggle buttons -->
        <StormToggle client:visible />
      </div>
      <!-- Social links -->
      <div class="pt-4 animate-fade-in">
        <SocialLinks />
      </div>
    </div>
    <!-- Image and storm -->
    <ImageStorm client:visible src={imageData.src} placeholder={imageData.placeholder} alt={name} />
    <Lightning client:visible />
  </div>
</SectionWrapper>
