---
import { siteConfig } from "../utils/siteConfig";
import "../styles/globals.css";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import Seo from "../components/shared/Seo.astro";
import ScrollToTop from "../components/ui/buttons/ScrollToTop.astro";
import Snowfall from "react-snowfall";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
  publishDate?: Date;
}

const {
  title = siteConfig.title,
  description = siteConfig.description,
  image,
  type,
  publishDate,
} = Astro.props;
---

<html lang={siteConfig.lang} class="dark">
  <head>
    <Seo
      title={title}
      description={description}
      image={image}
      type={type}
      publishDate={publishDate}
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/images/badri2.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-background text-foreground flex flex-col min-h-screen">
    <Snowfall color="#82C3D9" client:load />
    <Navbar />
    <main class="grow container mx-auto px-4">
      <slot />
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>