---
import { siteConfig } from "../utils/siteConfig";
import "../styles/globals.css";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import Seo from "../components/shared/Seo.astro";
import ScrollToTop from "../components/ui/buttons/ScrollToTop.astro";
import Snowfall from "react-snowfall";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
  publishDate?: Date;
}

const {
  title = siteConfig.title,
  description = siteConfig.description,
  image,
  type,
  publishDate,
} = Astro.props;
---

<html lang={siteConfig.lang} class="dark" dir="ltr">
  <head>
    <Seo
      title={title}
      description={description}
      image={image}
      type={type}
      publishDate={publishDate}
    />
  </head>
  <body class="bg-background text-foreground flex flex-col min-h-screen">
    <Snowfall color="#82C3D9" client:load />
    <!-- Navbar all tabs -->
    <Navbar />
    <!-- Main content pages -->
    <main class="grow container mx-auto px-4">
      <slot />
    </main>
    <!-- Footer sections -->
    <Footer />
    <!-- Button for navigation on top -->
    <ScrollToTop />
    <!-- For PWA -->
    <script>
      import { registerSW } from "virtual:pwa-register";
      registerSW({
        immediate: true,
        onRegisteredSW(
          swUrl: string,
          r: ServiceWorkerRegistration | undefined
        ) {
          console.log(`Service Worker at: ${swUrl}`);
        },
        onRegisterError(error: any) {
          console.log("SW registration error", error);
        },
      });
    </script>
  </body>
</html>
