---
import { siteConfig } from "../utils/siteConfig";
import "../styles/globals.css";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import Seo from "../components/shared/Seo.astro";
import ScrollToTop from "../components/ui/buttons/ScrollToTop.astro";
import Snowfall from "react-snowfall";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
  publishDate?: Date;
}

const {
  title = siteConfig.title,
  description = siteConfig.description,
  image,
  type,
  publishDate,
} = Astro.props;
---

<html lang={siteConfig.lang} class="dark">
  <head>
    <Seo
      title={title}
      description={description}
      image={image}
      type={type}
      publishDate={publishDate}
    />
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="My Portfolio" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-background text-foreground flex flex-col min-h-screen">
    <Snowfall color="#82C3D9" client:load />
    <Navbar />
    <main class="grow container mx-auto px-4">
      <slot />
    </main>
    <Footer />
    <ScrollToTop />
    <script>
      import { registerSW } from "virtual:pwa-register";
      registerSW({
        immediate: true,
        onRegisteredSW(
          swUrl: string,
          r: ServiceWorkerRegistration | undefined,
        ) {
          console.log(`Service Worker at: ${swUrl}`);
        },
        onRegisterError(error: any) {
          console.log("SW registration error", error);
        },
      });
    </script>
  </body>
</html>
